<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @task.name %>
</p>

<p>
  <b>User:</b>
  <%= @task.user.name  + " " + @task.user.lastname %>
</p>

<p>
  <b>Status:</b>
  <%= if @task.status == "1"
      "Terminado"
      else
        "No Terminado"
      end %>

</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
